@page
@model MegaDeskSite.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Search By Name: <input type="text" asp-for="SearchName" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortBy="descDate">Date</a>
                
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortBy="ascName">Name</a>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushOrderChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushOrderChoice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
