@page
@model ScriptureJournal.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="wrapper">
<h1>Entries</h1>

<p class="add-button-p">
    <a asp-page="Create" class="add-button">Add Entry</a>
</p>

<form class="filter-form">
        <div class="form-group">
            <label for="SearchBookString">Search By Book:</label>
            <input type="text" asp-for="SearchBookString" id="SearchBookString" />
            <input type="submit" value="Filter" />
        </div>

        <div class="form-group">
            <label for="SearchEntryString">Search By Entry:</label>
            <input type="text" asp-for="SearchEntryString" id="SearchEntryString" />
            <input type="submit" value="Filter" />
        </div>
</form>

<table class="entry-table">
    <thead>
        <tr>
            <th class="date-column">
                <a asp-page="./Index" asp-route-sortBy="descDate">Date</a>
            </th>
            <th>
                
                <a asp-page="./Index" asp-route-sortBy="ascRef">Reference</a>
            </th>
            <th class="entry-column">
                @Html.DisplayNameFor(model => model.Entry[0].EntryText)
            </th>
            <th>
                Options
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td class="date-column">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td class="entry-column">
                @Html.DisplayFor(modelItem => item.EntryText)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
